*{
    box-sizing: border-box;
    margin:0;
    padding: 0;    
}

.header {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 10px;
    color:yellowgreen;
    background-color: darkslategray;
    justify-content:space-between;
    align-items: center;
}

.header ul li {
    display: inline-block;
    text-decoration: line;  
}

a {
    color:yellowgreen;
}

.subtitle {
    padding:20px;
    width:100%;
    color:bisque;
    background-color:darkgreen;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;       
}   


.cardboard, .plywood {
    width:16%;
    height:9%;
    margin-left:55px;
    margin-top:10px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: darkslategray;
    color:bisque;
    font-size: x-large;
    text-align: center;
    float:left;
}

.work {
    width:16%;;
    height:84%;
    margin-left:55px;
    margin-top:10px;
    font-family: Arial, Helvetica, sans-serif;
    background-color:darkslategray;
    color:bisque;
    font-size: x-large;
    text-align: center;
    float:left;
}

.main {
    margin-left:310px;
    margin-top: 10px;
    width:71%;
    height:9%;
    color:darkgreen;
    background-color:none;
}

.kepoy {
    margin-left:310px;
    margin-top: 10px;
    width:71%;
    height:9%;
    color:bisque;
    background-color:darkgreen;
    font-size: x-large;
    text-align: center
}

.horiseon{
    margin-top:10px;
    margin-left:310px;
    width:71%;
    height:36%;
    text-align:center;
    color:bisque;
    background-color: darkgreen;
       
}

.workmain-container{
    display:flex;
    flex-direction: row;
    margin-top:0px;
    margin-left:310px;
    width:71%;
    height:48%;
    background-color:darkgreen;    
}

.workmain-item{
    width:50%x;
    height:100%x;
    background-color:darkgreen;
    color:bisque;
}

.workmain-item1{
    width:50%;
    height:100%;
    text-align:center;
    color:bisque;
    background-color:darkgreen;               
}

.workmain-item2 {
    width:50%;
    height:100%;
   text-align:center;
   color:bisque;
   background-color:darkgreen;
}
.footer { 
    
    margin-top:10px;
    padding: 5px;
    width: 100%;
    color:bisque;
    background-color: darkslategray;
    text-align: center;
}
@media screen and (max-width:996px) {
header, body {
    flex-direction: column;
    }   
    main {max-width:1200 px;
    }
}
@media screen and (max-width:768px) {
    header, body {
        flex-direction: column;
       
    }
}
